<% layout('layout/boilerplate') %>
    <div class="col-md-6 offset-md-3">
        <h1>Edit Campground</h1>
        <hr>
        <form action="/campgrounds/<%= campground.id %>?_method=PUT" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="title">Title: </label>
                <input class="form-control" type="text" id="title" name="campground[title]" required value = '<%= campground.title %>'>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a title.
                </div>
            </div>
            <div class="mb-3">
                <label for="location">Location: </label>
                <input class="form-control" type="text" id="location" name="campground[location]" required value = '<%= campground.location %>'>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a location.
                </div>
            </div>
            <div class="mb-3">
                <label for="price">Price: </label>
                <input class="form-control" type="text" id="price" name="campground[price]" required value = '<%= campground.price %>'>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter valid a price.
                </div>
            </div>
            <div class="mb-3">
                <label for="image">Image URL: </label>
                <input class="form-control" type="text" id="image" name="campground[image]" required value = '<%= campground.image %>'>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide an image URL.
                </div>
            </div>
            <div class="mb-3">
                <label for="description">Description: </label>
                <textarea class="form-control" type="text" id="description" required name="campground[description]" rows=5><%= campground.description %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a description.
                </div>
            </div>
            <button type="submit" class="btn btn-success">Save Changes!</button>
            <a class="btn btn-warning" href="/campgrounds/<%= campground.id %>">Go back</a>
        </form>
        <hr>
    </div>