<% layout('layout/boilerplate') %>
    <div class="col-md-6 offset-md-3">
        <h1>Edit Campground</h1>
        <hr>
        <form action="/campgrounds/<%= campground.id %>?_method=PUT" method="POST">
            <div class="mb-3">
                <label for="title">Title: </label>
                <input class="form-control" type="text" id="title" name="campground[title]" value = '<%= campground.title %>'>
            </div>
            <div class="mb-3">
                <label for="location">Location: </label>
                <input class="form-control" type="text" id="location" name="campground[location]" value = '<%= campground.location %>'>
            </div>
            <div class="mb-3">
                <label for="price">Price: </label>
                <input class="form-control" type="text" id="price" name="campground[price]" value = '<%= campground.price %>'>
            </div>
            <div class="mb-3">
                <label for="image">Image URL: </label>
                <input class="form-control" type="text" id="image" name="campground[image]" value = '<%= campground.image %>'>
            </div>
            <div class="mb-3">
                <label for="description">Description: </label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" rows=5><%= campground.description %></textarea>
            </div>
            <button type="submit" class="btn btn-success">Save Changes!</button>
            <a class="btn btn-warning" href="/campgrounds/<%= campground.id %>">Go back</a>
        </form>
        <hr>
    </div>