<% layout('layout/boilerplate') %> 
    <div >
        <h1 class=""><%= campground.title %>    </h1>
        <h7 class="text-muted">2 days ago</h7>
    </div>
    <hr>
    <br>
    <div class="d-flex justify-content-center">
        <img class="img-fluid col-md-6" src="<%= campground.image %>" alt="">
    </div>
    <br>
    <hr>
    <br>
    <p><%= campground.location %></p>

    <h4>Price: <%= campground.price %>$ per night</h4>
    <p><%= campground.description %></p>
    

    <a class="btn btn-primary" href="/campgrounds">Go back</a>
    <a class="btn btn-warning" href="/campgrounds/<%= campground.id %>/edit">Edit</a>
    <br>
    <br>
    <form action="/campgrounds/<%=campground.id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete</button>
    </form>
    <br>
    <br>